
<!DOCTYPE html>
<html lang="en" xmlns:th="www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />
<body>

<div th:replace="common/header :: navbar" ></div>
	
	<div class="container">
		<div class="row">

			<!-- carousel -->
			<div class="col-xs-8">
				<div class="panel panel-default">
					<div class="panel-body">
						<div id="carousel-example-generic" class="carousel slide"
							data-ride="carousel">
							<!-- Indicators -->
							<ol class="carousel-indicators">
								<li data-target="#carousel-example-generic" data-slide-to="0"
									class="active"></li>
								<li data-target="#carousel-example-generic" data-slide-to="1"></li>
								<li data-target="#carousel-example-generic" data-slide-to="2"></li>
								<li data-target="#carousel-example-generic" data-slide-to="3"></li>
								<li data-target="#carousel-example-generic" data-slide-to="4"></li>
								<li data-target="#carousel-example-generic" data-slide-to="5"></li>
								<li data-target="#carousel-example-generic" data-slide-to="6"></li>
								<li data-target="#carousel-example-generic" data-slide-to="7"></li>
								<li data-target="#carousel-example-generic" data-slide-to="8"></li>
								<li data-target="#carousel-example-generic" data-slide-to="9"></li>
								<li data-target="#carousel-example-generic" data-slide-to="10"></li>
								<li data-target="#carousel-example-generic" data-slide-to="11"></li>
							</ol>

							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox">

								<div class="item active">
									<img src="/img/1 (1).jpg" alt="..." style="height: 350px;" />
									<div class="carousel-caption">
										<h4>First Thumbnail Label</h4>
										<p>Contrary to popular belief, Lorem Ipsum is not simply
											random text. It has roots in a piece of classical Latin
											literature from 45 BC, making it over 2000 years old.</p>
									</div>
								</div>

								<div class="item">
									<img src="/img/1.jpg" alt="..." style="height: 350px;" />
									<div class="carousel-caption">
										<h4>Second Thumbnail Label</h4>
										<p>Contrary to popular belief, Lorem Ipsum is not simply
											random text. It has roots in a piece of classical Latin
											literature from 45 BC, making it over 2000 years old.</p>
									</div>
								</div>

								<div class="item">
									<img src="img/452406305-2048x2048.jpg" alt="..."
										style="height: 350px;" />
									<div class="carousel-caption">
										<h4>Third Thumbnail Label</h4>
										<p>Contrary to popular belief, Lorem Ipsum is not simply
											random text. It has roots in a piece of classical Latin
											literature from 45 BC, making it over 2000 years old.</p>
									</div>
								</div>

								<div class="item">
									<img src="img/497282978-2048x2048.jpg" alt="..."
										style="height: 350px;" />
									<div class="carousel-caption">
										<h4>Third Thumbnail Label</h4>
										<p>Contrary to popular belief, Lorem Ipsum is not simply
											random text. It has roots in a piece of classical Latin
											literature from 45 BC, making it over 2000 years old.</p>
									</div>
								</div>

								<div class="item">
									<img src="img/658916d4.jpg" alt="..." style="height: 350px;" />
									<div class="carousel-caption">
										<h4>Third Thumbnail Label</h4>
										<p>Contrary to popular belief, Lorem Ipsum is not simply
											random text. It has roots in a piece of classical Latin
											literature from 45 BC, making it over 2000 years old.</p>
									</div>
								</div>

								<div class="item">
									<img src="img/7035826-books-bokeh.jpg" alt="..."
										style="height: 350px;" />
									<div class="carousel-caption">
										<h4>Third Thumbnail Label</h4>
										<p>Contrary to popular belief, Lorem Ipsum is not simply
											random text. It has roots in a piece of classical Latin
											literature from 45 BC, making it over 2000 years old.</p>
									</div>
								</div>

								<div class="item">
									<img src="img/Joy-of-reading.jpg" alt="..."
										style="height: 350px;" />
									<div class="carousel-caption">
										<h4>Third Thumbnail Label</h4>
										<p>Contrary to popular belief, Lorem Ipsum is not simply
											random text. It has roots in a piece of classical Latin
											literature from 45 BC, making it over 2000 years old.</p>
									</div>
								</div>

								<div class="item">
									<img src="img/Picture4.jpg" alt="..." style="height: 350px;" />
									<div class="carousel-caption">
										<h4>Third Thumbnail Label</h4>
										<p>Contrary to popular belief, Lorem Ipsum is not simply
											random text. It has roots in a piece of classical Latin
											literature from 45 BC, making it over 2000 years old.</p>
									</div>
								</div>

								<div class="item">
									<img src="img/Power_of_Words_by_Antonio_Litterio.jpg" alt="..."
										style="height: 350px;" />
									<div class="carousel-caption">
										<h4>Third Thumbnail Label</h4>
										<p>Contrary to popular belief, Lorem Ipsum is not simply
											random text. It has roots in a piece of classical Latin
											literature from 45 BC, making it over 2000 years old.</p>
									</div>
								</div>

								<div class="item">
									<img src="img/slider-2.jpg" alt="..." style="height: 350px;" />
									<div class="carousel-caption">
										<h4>Third Thumbnail Label</h4>
										<p>Contrary to popular belief, Lorem Ipsum is not simply
											random text. It has roots in a piece of classical Latin
											literature from 45 BC, making it over 2000 years old.</p>
									</div>
								</div>

								<div class="item">
									<img src="img/thumb-1920-330109.jpg" alt="..."
										style="height: 350px;" />
									<div class="carousel-caption">
										<h4>Third Thumbnail Label</h4>
										<p>Contrary to popular belief, Lorem Ipsum is not simply
											random text. It has roots in a piece of classical Latin
											literature from 45 BC, making it over 2000 years old.</p>
									</div>
								</div>

								<div class="item">
									<img src="img/XTH101-28_2016_154426_hd.jpg" alt="..."
										style="height: 350px;" />
									<div class="carousel-caption">
										<h4>Third Thumbnail Label</h4>
										<p>Contrary to popular belief, Lorem Ipsum is not simply
											random text. It has roots in a piece of classical Latin
											literature from 45 BC, making it over 2000 years old.</p>
									</div>
								</div>
								...
							</div>

							<!-- Controls -->
							<a class="left carousel-control" href="#carousel-example-generic"
								role="button" data-slide="prev"> <span
								class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a> <a class="right carousel-control"
								href="#carousel-example-generic" role="button" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right"
								aria-hidden="true"></span> <span class="sr-only">Next</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<img src="/img/repo/logo.png" class="img-responsive" />
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-xs-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<img src="/img/repo/bestseller.png" class="img-responsive" />
					</div>
				</div>
			</div>

			<div class="col-xs-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<img src="/img/repo/hours.png" class="img-responsive" />
					</div>
				</div>
			</div>

			<div class="col-xs-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<img src="/img/repo/faq.png" class="img-responsive" />
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="home-headline">
				<span>Featured Books</span>
			</div>
			<hr style="margin-top: -15px;" />
		</div>

		<!-- Featured Books started.. -->
		<div class="row">
			<div id="featured-books" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#featured-books" data-slide-to="0" class="active"></li>
					<li data-target="#featured-books" data-slide-to="1"></li>
					<li data-target="#featured-books" data-slide-to="2"></li>
					<li data-target="#featured-books" data-slide-to="3"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">

					<div class="item active">
						<!-- <img src="/img/repo/shelf.png" class="img-responsive" />
						<div class="carousel-caption"> -->
							<div class="row">
								<div class="col-xs-2">
									<img class="img-responsive"
										src="/img/Coverpage/new/30817225.jpg" style="height: 200px;" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive"
										src="/img/Coverpage/new/0415f45b78c9e.jpg" style="height: 200px;" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive"
										src="/img/Coverpage/digitalindia.jpg" style="height: 200px;" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/img/Coverpage/images.jpeg" style="height: 200px;" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive"
										src="/img/Coverpage/Make_in_India_Policie.jpg" style="height: 200px;" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive"
										src="/img/Coverpage/new/20213b199.jpg" style="height: 200px;" />
								</div>
							</div>
						<!-- </div> -->
					</div>

					<div class="item">
						<!-- <img src="/img/repo/shelf.png" class="img-responsive" />
						<div class="carousel-caption"> -->
							<div class="row">
								<div class="col-xs-2">
									<img class="img-responsive"
										src="/img/Coverpage/new/2d48b1270.jpg" style="height: 200px;" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive"
										src="/img/Coverpage/9789327250947.jpg" style="height: 200px;" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive"
										src="/img/Coverpage/9781250001726.jpg" style="height: 200px;" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/img/Coverpage/41gems.jpg" style="height: 200px;" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/img/Coverpage/11260684.jpg" style="height: 200px;" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive"
										src="/img/Coverpage/new/31fiction-book2a.jpg" style="height: 200px;" />
								</div>
							</div>
						<!-- </div> -->
					</div>

					<div class="item">
						<!-- <img src="/img/repo/shelf.png" class="img-responsive" />
						<div class="carousel-caption"> -->
							<div class="row">
								<div class="col-xs-2">
									<img class="img-responsive"
										src="/img/Coverpage/new/57184aded037.jpg" style="height: 200px;" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive"
										src="/img/Coverpage/new/5e097e784a7.jpg" style="height: 200px;" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive"
										src="/img/Coverpage/new/77f4dc9d15669.jpg" style="height: 200px;" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive"
										src="/img/Coverpage/new/9780091899295-us.jpg" style="height: 200px;" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive"
										src="/img/Coverpage/new/9780593079133.jpg" style="height: 200px;" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive"
										src="/img/Coverpage/new/b098a14949996.jpg" style="height: 200px;" />
								</div>
							</div>
						<!-- </div> -->
					</div>

					<div class="item">
						<!-- <img src="/img/repo/shelf.png" class="img-responsive" />
						<div class="carousel-caption"> -->
							<div class="row">
								<div class="col-xs-2">
									<img class="img-responsive"
										src="/img/Coverpage/new/cover_IR.jpg" style="height: 200px;"/>
								</div>
								<div class="col-xs-2">
									<img class="img-responsive"
										src="/img/Coverpage/new/download.jpeg" style="height: 200px;" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive"
										src="/img/Coverpage/new/The-Serpents-Secret.jpg" style="height: 200px;" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive"
										src="/img/Coverpage/new/India'sStruggle.jpeg" style="height: 200px;" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive"
										src="/img/Coverpage/new/Social_Media.jpg" style="height: 200px;" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive"
										src="/img/Coverpage/new/main-qimg6.png" style="height: 200px;" />
								</div>
							</div>
						</div>
					<!-- </div> -->
				</div>

				<!-- Controls -->
				<a class="left carousel-control" href="#featured-books"
					role="button" data-slide="prev"> <span
					class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a> <a class="right carousel-control" href="#featured-books"
					role="button" data-slide="next"> <span
					class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
		<!-- Featured Books end..-->


	</div>
	<!-- end of container -->

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<div th:replace="common/header :: body-bottom-scripts" ></div>
</body>
</html>
